body {
  color: white;
  overflow-x: hidden;
  background: #15212a;
  width: 100%;
}
#cover {
  background-image: url(../img/cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.navbar {
  display: flex;
}
.nav-container {
  margin-left: 5rem;
}
.nav-item {
  list-style: none;
  color: white;
  color: #fff;
  font-weight: 10;
  font-size: 1rem;
  margin-left: 2.5rem;
}
.hamburger {
  float: left;
  color: white;
}
.btn {
  border-radius: 10px;
  background: var(--Linear, linear-gradient(88deg, #ff8f08 0%, #ed1c62 100%));
  display: flex;
  padding: 0.9rem 2.5rem;
  align-items: center;
  gap: 10px;
  border: none;
  color: white;
  font-size: 1rem;
}

.heading {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  margin-top: 6rem;
}
.IPTV {
  color: #ff8f08;
}
.heading2 {
  font-weight: lighter;
  word-spacing: 5px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#main div {
  padding-bottom: 0.5rem;
  font-weight: lighter;
}
#main div img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
#main button {
  margin-left: 0rem;
  margin-top: 2rem;
}
/* second section */
@media (max-width: 576px) {
  .samsung {
    /* Adjust the width of the Samsung TV image for smaller screens */
    width: 100%;
    height: auto;
  }
  
  .icon-container {
    /* Change the layout of the icon container for smaller screens */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .icon-container img {
    /* Adjust the size of the icons for smaller screens */
    width: 30px;
    height: auto;
  }
}
.second-section {
  margin-right: 0px;
  font-weight: 2px;
  padding-right: 0px;
}
.heading3 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.samsung {
  width: 60rem;
  margin-top: 3rem;
}
.icon-container {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.icon-container img {
  width: 10rem;
  /* margin-left: 3rem; */
}
/* third section */
@media (max-width: 576px) {
  .people {
    /* Adjust the width of the people image for smaller screens */
    width: 100%;
    height: auto;
    margin-top: 20px; /* Adjust margin as needed */
  }

  .third-sec-div {
    /* Adjust padding or margins for better spacing on smaller screens */
    padding: 20px;
  }

  #stream {
    /* Adjust the layout of the stream details on smaller screens */
    display: flex;
    flex-direction: column;
  }
  
  #stream-div,
  #stream div {
    /* Adjust margins or paddings for better spacing on smaller screens */
    margin-bottom: 10px;
  }
}
.third-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  flex-wrap: wrap-reverse;
}
.third-section div h1 {
  margin-top: 0.5rem;
}
.third-sec-div {
  width: 27rem;
}
.third-section div h5 {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.third-sec-div button {
  margin-left: 0px;
}
#stream {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: -1rem;
}
.people {
  width: 25rem;
  height: 23rem;
}
/* forth section */
.forth-section {
  display: flex;
  margin-top: 8rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
}
.forth-sec-div1 {
  width: 28rem;
  height: auto;
}
.forth-sec-div {
  width: 26rem;
}
.forth-sec-div button {
  width: 25rem;
  margin-top: 0.3rem;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}
.girl {
  width: 26rem;
  height: 26rem;
}
.forth-sec-div h2 {
  margin-top: 0rem;
  font-size: 2.5rem;
}
.forth-sec-div p {
  width: 23rem;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.forth-sec-btn {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  display: flex;
  padding: 0.9rem 2.5rem;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1rem;
}
.forth-sec-btn img {
  width: 1rem;
}

.active, .accordion:hover {
  background: var(--Linear, linear-gradient(88deg, #ff8f08 0%, #ed1c62 100%)); 
}


.panel1{
  display: block;
}
.panel {
  padding: 0 18px;
  display: none;
  /* background-color: white; */
  overflow: hidden;
}
/* fifth section */
.fifth-section {
  background: url(../img/bg-five.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 20rem;
  width: auto;
  margin-top: 6rem;
  border-radius: 35px;
  border: 2px solid var(--Linear, #ff8f08);
  box-shadow: 0px 2px 53px 0px #2c2b2b;
}
.fifth-section div {
  margin-top: 3rem;
  margin-left: 4rem;
  width: 20rem;
}
.fifth-section div button {
  margin-top: 3rem;
}
/* sixth section */
.sixth-section {
  margin-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.sixth-sec-div {
  padding-bottom: 4rem;
  margin: auto;
  width: auto;
  text-align: center;
}
.sixth-section h1 {
  width: auto;
  margin: auto;
}
.sixth-sec-div1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sixth-sec-div-child {
  background: linear-gradient(88deg, #ff8f08, #ed1c62);
  height: auto;
  width: auto;
  border-radius: 20px;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.grey {
  border-radius: 19px;
  width: 18rem;
  height: auto;
  background: #293945;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grey img {
  width: 4rem;
}
.grey p {
  font-weight: 1px;
  font-size: 0.9rem;
}
.dollar {
  display: inline;
  background: linear-gradient(to right, #ff8f08 0%, #ed1c62 100%, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.year {
  display: inline;
}
.grey button {
  display: block;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  color: #ff8f08;
}

.card-div img {
  width: 2.8rem;
  margin-left: 2rem;
}
.card-div {
  height: 2.8rem;
  display: flex;
  margin-top: 0.5rem;
}
.card-div-child {
  margin-left: 1rem;
  font-size: 0.9rem;
}
.card-div-child p {
  margin-bottom: 0px;
}
/* seventh section */
.seventh-sec-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seventh-sec-child1 {
  width: 23rem;
  border-radius: 35px;
  border: 2px solid var(--Linear, #ff8f08);
  box-shadow: 0px 2px 53px 0px #2c2b2b;
  padding: 2rem;
  margin-bottom: 1rem;
}
.seventh-sec-child1 h3 {
  margin-top: 1.5rem;
}
/* eighth-section */
.eighth-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.form {
  margin-top: 5rem;
  padding-left: 0rem;
  width: 40rem;
}

.eighth-section label {
  display: block;
}
.eighth-section input,
textarea {
  padding-left: 1rem;
  border-radius: 10px;
  border: 1.5px solid #fff;
  background: none;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  label,
  input,
  textarea {
    width: 48%;
  }
}
.eighth-section textarea {
  height: 6rem;
  width: 100%;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}
.inner-div div{
  width: 48%;
  margin-left: 0rem;
}
.email{
  margin-left: -0.9rem;
}
.eighth-section button{
  height: 2.5rem;
  margin-top: 1rem;
}
.information {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-left: 3rem; */
  margin-top: 5rem;
  width: auto;
  padding-bottom: 3rem;
  border-radius: 20px;
  border: 1.5px solid #fff;
  background: var(
    --radial-2-paints,
    radial-gradient(
      96.92% 85.52% at 30.11% 100%,
      rgba(255, 143, 8, 0.24) 0%,
      rgba(237, 28, 98, 0.04) 100%
    ),
    radial-gradient(
      106.94% 141.42% at 100% 1.62%,
      rgba(122, 129, 122, 0.12) 0%,
      rgba(7, 7, 9, 0.3) 100%
    )
  );
}
.information h5{
  width: 20rem;
}
.information img{
  width: 2.3rem;
  margin: 0.5rem;
}
.information div{
  font-size: 1.2rem;
  display: flex;
  width: 20rem;
}
.information div div{
  text-align: left;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
.footer-container1 {
  width: 10rem;
}
.footer-container1 img {
  width: 8rem;
}
.footer-container2 {
  width: 20rem;
}
.footer-container3 {
  width: 10rem;
  /* margin-left: 10rem; */
}
.footer-container4 {
  width: 20rem;
}
footer p {
  font-weight: 1;
  color: rgba(255, 255, 255, 0.60);
}
.footer input{
  padding-left: 1rem;
  border-radius: 10px;
  width: 20rem;
  border: 1.5px solid #fff;
  background: none;
  height: 3rem;
}
.vector {
  width: 20rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.footer-bottom div p {
  /* padding-left: 4rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
